## IDE files ##
.vscode/
.mvn/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea

*.iws
*.iml
*.ipr

## Build files ##
/dist/

build/
!**/src/main/**/build/
!**/src/test/**/build/

target/
!**/src/main/**/target/
!**/src/test/**/target/

!.mvn/wrapper/maven-wrapper.jar

## Environment files ##
.env*
!.env.example

## Keys files ##
**/keys/
*.pem
*.pub

## Misc files ##
*.log

Makefile

data/
logs/
